/* Optional: Additional styling for inner container to handle overflow */
.container {
  overflow: auto;
  padding: 20px;
}

.btnn-view {
    background-color: transparent !important;
    border: 1px solid black !important;
    border-radius: 45px !important;
    color: black !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 10px 20px !important;
    transition: background-color 0.3s, color 0.3s !important;
}
.btnn-back{
  width: 13%;
    border-radius: 45px !important;
}
.btnn-view:hover {
    background-color: black !important;
    color: white !important;
}
.img-logo {
  height: 100px;
}
.btnn-arrow {
  height: 50px;
}
.fixed-bottom-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1000;
}

.btn-block {
  width: 100%;
}
.search-box {
  height: 77px;
  font-size: 20px !important;
  border-radius: 46px !important;
  width: 70% !important;
}
.data-container {
  margin-top: 4rem !important;
}
.btnn-create {
  font-size: 30px !important;
  padding: 10px !important;
  font-weight: 600 !important;
  width: 20%;
  height: 77px;

  border-radius: 46px !important;
}
.show-fav {
  font-size: 30px;
}
.img-heart {
  height: 38px;
  width: 39px;
  /* padding-top: 9px; */
  margin-top: 4px;
}
.header1-prop {
  font-size: 80px;
}
.header3-prop {
  color: gray;
}
.header4-prop {
  margin-bottom: 80px;
}
.img-rounded{
  border-radius: 100%;
    border: 5px solid black !important;
    width: 200px;
}
.img-height-arrow{
  height: 48px;
}
.tab-props{
  color: black;
  font-size: 30px;
}