

/* Optional: Additional styling for inner container to handle overflow */
.container {
  overflow: auto;
  padding: 20px;
}

.btnn-view {
  width: 100%;

  font-size: 20px !important;
}
.img-logo {
  height: 100px;
}
.btnn-arrow {
  height: 50px;
}
.fixed-bottom-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1000;
}

.btn-block {
  width: 100%;
}
.search-box{
      height: 77px;
    font-size: 30px !important;
    border-radius: 46px !important;
}
.data-container{
  margin-top: 7rem !important;
}
.btnn-create{
  font-size: 30px !important;
  padding: 10px !important;
  font-weight: 600 !important;
}