.BG-login {
  background-image: url("./bg.png");
  height: 100vh;
}
.content-center {
  padding: 2px;
}
.head-t1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 55px;
  color: #1d1d21;
}
.head-t2 {
  font-size: 40px;
  letter-spacing: 13px;
}
.img-icon{
        height: 6vh;
    width: 31px;
}
.sub-text{
    color: #020614;
}
.btnn-log{
  
    font-size: 30px !important;
  padding: 20px !important;
  font-weight: 600 !important;
}
.form-content{
  margin-top: 60px;
}
.data-input{
      height: 77px;
    font-size: 30px !important;
}