.BG-view {
  background-image: url("./components/bg.png");
  min-height: 100vh; /* Ensure it covers the entire viewport height */
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat;
  background-position: center center;
}